.member-info span {
  font-weight: bold;
}

.belt-box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  margin-right: 1rem;
  border: 1px solid black;
  clear: both;
}

img {
  margin: 1rem;
  width: 10rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.action-buttons {
  padding: 1rem;
}

button{
  margin: 0.5rem;
}
