<mat-card>
  <mat-card-title>
    Sign up form
  </mat-card-title>
  <mat-card-subtitle>
    Please fill out the form below to sign up
  </mat-card-subtitle>

  <form [formGroup]="signupForm">

    <button mat-stroked-button type="button" (click)="filePicker.click()"> Upload profile image </button>
    <input type="file" #filePicker (change) = "onImagePicked($event)">
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="signupForm.value.title" />
    </div>

    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="surname">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='email' placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Belt color</mat-label>
      <mat-select formControlName="beltColor">
        <mat-option *ngFor="let belt of beltColors" [value]="belt">
          {{belt}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stripe count</mat-label>
      <mat-select formControlName="stripeCount">
        <mat-option *ngFor="let stripe of stripeCounts" [value]="stripe">
          {{stripe}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type='password' placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='password' placeholder="Confirm Password" formControlName="confirmPassword">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='password' placeholder="Admin password" formControlName="adminPassword">
    </mat-form-field>
    <button  mat-raised-button color="primary" (click)="onSignup()" [disabled]="!formValid">Sign up</button>
  </form>
</mat-card>
