span {
  font-size: bold;
}

.mat-action-row {
  justify-content: flex-start;
}

.mat-expansion-panel-header {
  font-size: large;
  font-weight: 500;
}

.action-buttons {
  padding: 1rem;
}

button{
  margin: 0.5rem;
}

mat-icon{
  padding-right: 0.5rem;
}

img{
  max-width: 5rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

mat-list {
  display: block;
}

.belt-box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  margin-right: 1rem;
  border: 1px solid black;
  clear: both;
}

mat-card-header {
  padding: 1rem;
}
