span {
  font-size: bold;
}

.mat-action-row {
  justify-content: flex-start;
}

.mat-expansion-panel-header {
  font-size: large;
  font-weight: 500;
}

.action-buttons {
  padding: 1rem;
}

button{
  margin: 0.5rem;
}

mat-icon{
  padding-right: 0.5rem;
}
