<mat-card>
  <mat-card-title>
    Welcome to A-Force Jiujitsu
  </mat-card-title>
</mat-card>

<mat-card>
  <mat-card-content>
    <h2>Why Brazilian Jiujitsu?</h2>
    <p>
      Your height, weight and other unique attributes are perfectly adapted to the sport of BJJ.
      Being bigger, you can use your weight advantage to gain control of your opponent, and smaller ones can take advantage of using agile movements and perform submission holds.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h2>Sport does not have to be boring</h2>
    <p>
      Change your monotonous workouts to Brazilian Jiu-Jitsu. Strengthen your body, improve well-being, and learn self-defense.
    </p>
  </mat-card-content>
</mat-card>
